{% extends './layouts/base.html'%}

{% block title %} 
    
{% endblock %}

{% block content %}
<h1 class="text-center">{{ title }}</h1>

<div class="container-fluid">
  <div class="row">
    {% for dessert  in desserts_list  %}
        <div class="col-3 p-5">
          <div class="card" style="width: 18rem">
            <img src="{{ dessert.img }}" class="card-img-top" alt="{{ dessert.img }}" />
            <div class="card-body">
              <h5 class="card-title">{{ dessert.nombre }}</h5>
              <p class="card-text">
                {{ dessert.descripcion }}
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
       
{% endblock %}
