{% extends './layouts/base.html'%}

{% block title %} 
    
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<div class="container">
    <div class"row">
        {% for dessert  in desserts  %}
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ dessert }}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
</div>
    
{% endblock %}
